<?php
/**
 * Created by PhpStorm.
 * User: student6
 * Date: 16.8.22
 * Time: 09.42
 */
?>

<!--************** SIGN UP ********************-->
<?php if ($_GET['action'] == 'signup'):?>
    <div class="container">
        <div class="col-md-offset-6 col-md-6">
            <form class="signUp" action="" method="post">
                <h3>Register new user.</h3>
                <hr>
                <?php if(isset($_GET['error'])): ?>
                    <?php echo ($_GET['error']==1)? '<P>User with this e-mail exist. Try to log in!</p>':''?>
                    <?php echo ($_GET['error']==2)? '<P>Passwords doesn\'t match.</p>':''?>
                    <?php echo ($_GET['error']==3)? '<P>User with this e-mail exist and passwords doesn\'t match. Just try to log in!</p>':''?>
                <?php endif;?><br>
                <label for="email">E-mail:</label>
                <input type="email" name="email" value="<?php echo isset($_POST['email']) ? $_POST['email'] : '' ?>"><br>
                <label for="password">Password:</label>
                <input type="password" name="password" value="<?php echo isset($_POST['password']) ? $_POST['password'] : '' ?>"><br>
                <label for="confirm">Repeat password:</label>
                <input type="password" name="confirm" value="<?php echo isset($_POST['confirm']) ? $_POST['confirm'] : '' ?>"><br>
                <hr>
                <label for="firstname">Firstname:</label>
                <input type="text" name="firstname" value="<?php echo isset($_POST['firstname']) ? $_POST['firstname'] : '' ?>"><br>
                <label for="lastname">Lastname: </label>
                <input type="text" name="lastname" value="<?php echo isset($_POST['lastname']) ? $_POST['lastname'] : '' ?>"><br>
                <label for="birthdate">Birth date: </label>
                <input type="date" name="birthdate" value="<?php echo isset($_POST['birthdate']) ? $_POST['birthdate'] : '' ?>"><br>
                <hr>
                <label for="address">Address: </label>
                <input type="text" name="address" value="<?php echo isset($_POST['address']) ? $_POST['address'] : '' ?>"><br>
                <label for="city">City:</label>
                <input type="text" name="city" value="<?php echo isset($_POST['city']) ? $_POST['city'] : '' ?>"><br>
                <label for="zipcode">Zipcode: </label>
                <input type="text" name="zipcode" value="<?php echo isset($_POST['zipcode']) ? $_POST['zipcode'] : '' ?>"><br>
                <label for="country">Country: </label>
                <input type="text" name="country" value="<?php echo isset($_POST['country']) ? $_POST['country'] : '' ?>"><br>
                <hr>
                <label for="phone">Phone: </label>
                <input type="tel" name="phone" value="<?php echo isset($_POST['phone']) ? $_POST['phone'] : '' ?>"><br>
                <input class="btn btn-info" type="submit" value="Register">
                <input type="hidden" name="action" value="signup">
            </form>
        </div>
    </div>
<?php endif;?>


<!--************** EDIT USER DATA *************-->

<?php if ($_GET['action'] == "edit"):?>
    <div class="container">
        <div class="col-md-offset-6 col-md-6">
            <form class="signUp" action="" method="post">
                <h3>Edit uaer data</h3>
                <hr>
                <?php echo isset($_GET['failed']) ? '<p>User edit failed.</p>' : '' ?>
                <?php echo isset($_GET['success']) ? '<p>User successful edited.</p>' : '' ?>
                <label for="email">E-mail:</label>
                <input type="email" name="email" value="<?php echo isset($_SESSION['userInfo']['Email']) ? $_SESSION['userInfo']['Email'] : '' ?>"><br>
                <label for="password">Password:</label>
                <input type="password" name="password"><br>
                <label for="password">New password:</label>
                <input type="password" name="newPassword"><br>
                <label for="confirm">Confirm password:</label>
                <input type="password" name="confirm"><br>
                <hr>
                <label for="firstname">Firstname:</label>
                <input type="text" name="firstname" value="<?php echo isset($_SESSION['userInfo']['Firstname']) ? $_SESSION['userInfo']['Firstname'] : '' ?>"><br>
                <label for="lastname">Lastname: </label>
                <input type="text" name="lastname" value="<?php echo isset($_SESSION['userInfo']['Lastname']) ? $_SESSION['userInfo']['Lastname'] : '' ?>"><br>
                <label for="birthdate">Birth date: </label>
                <input type="date" name="birthdate" value="<?php echo isset($_SESSION['userInfo']['Birthdate']) ? $_SESSION['userInfo']['Birthdate'] : '' ?>"><br>
                <hr>
                <label for="address">Address: </label>
                <input type="text" name="address" value="<?php echo isset($_SESSION['userInfo']['Address']) ? $_SESSION['userInfo']['Address'] : '' ?>"><br>
                <label for="city">City:</label>
                <input type="text" name="city" value="<?php echo isset($_SESSION['userInfo']['City']) ? $_SESSION['userInfo']['City'] : '' ?>"><br>
                <label for="zipcode">Zipcode: </label>
                <input type="text" name="zipcode" value="<?php echo isset($_SESSION['userInfo']['ZipCode']) ? $_SESSION['userInfo']['ZipCode'] : '' ?>"><br>
                <label for="country">Country: </label>
                <input type="text" name="country" value="<?php echo isset($_SESSION['userInfo']['Country']) ? $_SESSION['userInfo']['Country'] : '' ?>"><br>
                <hr>
                <label for="phone">Phone: </label>
                <input type="tel" name="phone" value="<?php echo isset($_SESSION['userInfo']['Phone']) ? $_SESSION['userInfo']['Phone'] : '' ?>"><br>
                <input class="btn btn-info" type="submit" value="Save changes">
                <input type="hidden" name="action" value="edit">
            </form>
        </div>
    </div>
<?php endif;?>
