<?php
/**
 * Created by PhpStorm.
 * User: student6
 * Date: 16.8.11
 * Time: 13.20
 */
?>
<div class="container">
    <div class="col-md-offset-6 col-md-6">
        <form class="reservation" action="?succsess" method="POST">
            <h3>Table reservation</h3>
            <hr>
            <?php echo isset($_GET['success'])? '<p>Reservation successful.</p>':''?>
            <label for="name">Firstame:</label>
            <input type="text" name="firstname" value="<?php echo isset($_SESSION['userInfo']['Firstname']) ? $_SESSION['userInfo']['Firstname'] : '' ?>"><br>
            <label for="phone">Phone number:</label>
            <input type="tel" name="phone" value="<?php echo isset($_SESSION['userInfo']['Phone']) ? $_SESSION['userInfo']['Phone'] : '' ?>"><br>
            <label for="persons">Number of persons:</label>
            <input type="number" name="persons"><br>
            <label for="time">Time:</label>
            <input type="text" id="timepicker" name="time"><br>
            <label for="date">Date:</label>
            <input type="text" id="datepicker" name="date" value="<?php echo date('Y-m-d')?>"><br>
            <input type="hidden" name="id" value="<?php echo isset($_SESSION['userInfo']['Id']) ? $_SESSION['userInfo']['Id'] : '3' ?>">
            <input class="btn btn-info" type="submit" value="Reserve">
            <input type="hidden" name="action" value="reservation">
        </form>
    </div>
</div>
