<?php
/**
 * Created by PhpStorm.
 * User: student6
 * Date: 16.8.11
 * Time: 13.21
 */
?>

<!--********************************************* MEALS MENU ************************************************************-->
<?php if(!isset($_GET['cart'])):?>
    <div class="container">
        <div class="">
            <div class="krepsas col-md-offset-4 col-md-4">
                <h3>Total items: <span id="totalItems"><?php echo isset($_SESSION['totalItems'])? ($_SESSION['totalItems']) : '0'?></span></h3>
                <h3>Total amount: <span id="totalAmount"><?php echo isset($_SESSION['totalAmount'])? ($_SESSION['totalAmount']) : '0'?></span>€</h3>
                <a class="checkout btn btn-primary" href="<?= $requestUrl ?>/takeaway?cart">Checkout</a>
            </div>
            <div class=" container">
                <?php foreach ($allMeals as $meal):?>
                    <div class="col-md-4">
                    <div class=" meals col-md-12">
                        <img class="img-responsive" src="<?= $wwwUrl ?>/images/img/<?= $meal['Photo']?>" alt="">
                        <!--                    <img class="img-responsive" src="https://unsplash.it/240/240/?random" alt="">-->
                        <h3 class="meal-name"><?= $meal['Name']?></h3>
                        <p class="meal-description"><?= $meal['Description']?></p>
                        <p>€ <?= $meal['SalePrice']?> </p>
                        <input type="number" name="quantity" value="1" max="<?= $meal['QuantityInStock']?>">
                        <a class="addToCart btn btn-info" href="#" data-product-id="<?= $meal['Id']?>">Add To Cart</a>
                    </div>
                </div>
                <?php endforeach; ?>
            </div>
            <div class="krepsas col-md-offset-4 col-md-4">
                <h3>Total items: <span id="totalItems"><?php echo isset($_SESSION['totalItems'])? ($_SESSION['totalItems']) : '0'?></span></h3>
                <h3>Total amount: <span id="totalAmount"><?php echo isset($_SESSION['totalAmount'])? ($_SESSION['totalAmount']) : '0'?></span>€</h3>
                <a class="checkout btn btn-primary" href="<?= $requestUrl ?>/takeaway?cart">Checkout</a>
            </div>
        </div>
    </div>

<?php endif; ?>
<!--********************************************* CART (Register user) **************************************************-->
<?php if(isset($_GET['cart']) && isset($_SESSION['logged']) && isset($_SESSION['cart'])):?>
    <div class="container">
        <div class="krepsas col-md-offset-4 col-md-4">
            <h3>Total items: <span id="totalItems"><?php echo isset($_SESSION['totalItems'])? ($_SESSION['totalItems']) : '0'?></span></h3>
            <h3>Total amount: <span id="totalAmount"><?php echo isset($_SESSION['totalAmount'])? ($_SESSION['totalAmount']) : '0'?></span>€</h3>
        </div>
        <table class="cartTable">
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Price each</th>
                <th>Total price</th>
                <th>Quantity</th>
            </tr>
            <?php foreach ($_SESSION['cart'] as $cartItem):?>
                <tr id="response<?= $cartItem['id']?>">
                    <td><img class="img-responsive" src="<?= $wwwUrl ?>/images/img/<?= $cartItem['photo']?>" alt=""></td>
                    <td><?= $cartItem['name']?></td>
                    <td><?= $cartItem['price']?>€</td>
                    <td class="total"><?= $cartItem['total']?>€</td>
                    <td><input  type="number" name="quantity" value="<?= $cartItem['quantity']?>"></td>
                    <td><a class="updateCart btn btn-info" href="#" data-product-id="<?= $cartItem['id']?>">Save changes</a></td>
                    <td><a class="removeFromCart btn btn-info" href="#" data-product-id="<?= $cartItem['id']?>">Remove</a></td>
                </tr>
            <?php endforeach; ?>
            <tr>
                <td colspan="4"></td>
                <td colspan="1">Total amount: <span id="totalAmount"><?php echo isset($_SESSION['totalAmount'])? ($_SESSION['totalAmount']) : ''?></span>€</td>
                <td><a href="#" class="btn btn-primary">Confirm and Pay</a></td>
            </tr>
        </table>
    </div>
    <?php elseif (isset($_GET['cart']) && isset($_SESSION['logged']) && !isset($_SESSION['cart'])):?>
    <div class="krepsas">
        <h3> Your cart empty.</h3>
    </div>

<?php endif; ?>


<!--********************************************* CART (Unregister user) ************************************************-->


<?php if(isset($_SESSION['cart']) && !isset($_SESSION['logged'])):?>
    <div class="container">
        <div class="krepsas col-md-offset-4 col-md-4">
            <h3>Total items: <span id="totalItems"><?php echo isset($_SESSION['totalItems'])? ($_SESSION['totalItems']) : '0'?></span></h3>
            <h3>Total amount: <span id="totalAmount"><?php echo isset($_SESSION['totalAmount'])? ($_SESSION['totalAmount']) : '0'?></span>€</h3>
        </div>
        <table class="cartTable">
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>Price each</th>
                <th>Total price</th>
                <th>Quantity</th>
            </tr>
            <?php foreach ($_SESSION['cart'] as $cartItem):?>
                <tr id="response<?= $cartItem['id']?>">
                    <td><img class="img-responsive" src="<?= $wwwUrl ?>/images/img/<?= $cartItem['photo']?>" alt=""></td>
                    <td><?= $cartItem['name']?></td>
                    <td><?= $cartItem['price']?>€</td>
                    <td class="total"><?= $cartItem['total']?>€</td>
                    <td><input class=""  type="number" name="quantity" value="<?= $cartItem['quantity']?>"></td>
                    <td><a class="updateCart btn btn-info" href="#" data-product-id="<?= $cartItem['id']?>">Save changes</a></td>
                    <td><a class="removeFromCart btn btn-info" href="#" data-product-id="<?= $cartItem['id']?>">Remove</a></td>
                </tr>
            <?php endforeach; ?>
            <tr id="confirmPay">
                <td colspan="4"></td>
                <td colspan="1">Total amount: <span id="totalAmount"> <?php echo isset($_SESSION['totalAmount']) ? ($_SESSION['totalAmount']) : ''?></span>€</td>
                <td><a href="?succsses" class="btn btn-primary">Confirm and Pay</a></td>
            </tr>
        </table>
    </div>
    <?php elseif (isset($_GET['cart']) && !isset($_SESSION['cart'])):?>
    <div class="krepsas">
        <h3> Your cart empty.</h3>
    </div>
<?php endif; ?>