<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAZL3QXvqTWT3fT8v7W5s8wkkmtYBQWOGU&callback=initMap'></script>

<div class="container-fluid">
    <div class="home col-md-offset-6 col-md-6">

        <a class="phone" href="tel:+37061234567">Order everything by Phone</a>
        <div id='gmap_canvas'></div>
        <style>#gmap_canvas img{max-width:none!important;background: none!important}</style>
    <script type='text/javascript'>function init_map(){var myOptions = {zoom:15,center:new google.maps.LatLng(54.67519686439018,25.256278029547055),mapTypeId: google.maps.MapTypeId.TERRAIN};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(54.67519686439018,25.256278029547055)});infowindow = new google.maps.InfoWindow({content:'<strong>Burgerinė</strong><br>Švitrigailos st. 8, Vilnius<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
    </div>
</div>

