<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3WA Restaurant</title>
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/font-awesome-4.3.0.min.css">

    <!--- Bootstrap --->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/bootstrap.css">

    <!-- Feuilles de styles de l'application -->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/main.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Karla">
    <link href="https://fonts.googleapis.com/css?family=Chewy|Raleway:300,400" rel="stylesheet">

    <!-- Librairie jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

    <!-- jQuery UI-->
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/jquery-ui.css">
    <link rel="stylesheet" href="<?= $wwwUrl ?>/css/jquery.ui.timepicker.css">
    <script src="<?= $wwwUrl ?>/js/jquery-ui.js"></script>
    <script src="<?= $wwwUrl ?>/js/jquery.ui.timepicker.js"></script>


    <!-- JavaScript de l'application -->
    <script src="<?= $wwwUrl ?>/js/utilities.js"></script>
</head>
<body>
<!-- En-tête commune -->
<header>

    <!--********************************** ADMIN PANEL **************************************************************-->
    <?php if(isset($_SESSION['logged']) && $_SESSION['userInfo']['Role']==2 ):?>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo navbar-brand" href="<?= $requestUrl?>">
                        <img class="img-responsive" src="<?= $wwwUrl ?>/images/logo.png" alt="Brand">
                    </a>
                </div>

                <div class="navbar-collapse collapse" id="main-menu">
                    <ul class="main-menu">
                        <li><a href="<?= $requestUrl ?>/takeaway">Takeaway Orders</a></li>
                        <li><a href="<?= $requestUrl ?>/restaurant">Restaurant Reservations</a></li>
                        <li><a href="<?= $requestUrl ?>/takeaway">Takeaway Meals</a></li>
                        <li><a href="<?= $requestUrl ?>/user">Users Info</a></li>
                        <li><a href="<?= $requestUrl ?>/user?action=logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    <!--*********************************** USER PANEL **************************************************************-->
    <?php  elseif(isset($_SESSION['logged']) && !($_SESSION['userInfo']['Role']==2)): ?>
        <div class="container-fluid">
            <div class="col-md-offset-8 col-md-4">
                <?php echo isset($_GET['message']) ? '<p class="message">You have successfully sign up and logged in!</p>':''?>
            </div>
        </div>
        <nav class="navbar" >
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo navbar-brand" href="<?= $requestUrl?>">
                        <img class="img-responsive" src="<?= $wwwUrl ?>/images/logo.png" alt="Brand">
                    </a>
                </div>

                <div class="navbar-collapse collapse" id="main-menu">

                    <ul class="main-menu">
                        <li ><a href="<?= $requestUrl ?>/takeaway">Takeaway order online</a></li>
                        <li ><a href="<?= $requestUrl ?>/takeaway?cart">Cart</a></li>
                        <li ><a href="<?= $requestUrl ?>/restaurant?booking">Table reservation online</a></li>
                        <li ><a href="<?= $requestUrl ?>/user?action=edit">Profile</a></li>
                        <li ><a href="<?= $requestUrl ?>/user?action=logout">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <?php else: ?>

    <!--*********************************** HOME PANEL **************************************************************-->
    <?php echo isset($_GET['LoginError']) ? '<div class="container-fluid">
        <div class="col-md-offset-8 col-md-4">
            <p class="message">Oops, that\'s not a match!</p>
        </div>
    </div>' : '' ?>

    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo navbar-brand" href="<?= $requestUrl?>">
                    <img class="img-responsive" src="<?= $wwwUrl ?>/images/logo.png" alt="Brand">
                </a>
            </div>

            <div class="navbar-collapse collapse" id="main-menu">
                <form class="navbar-form navbar-right" action="<?= $requestUrl ?>/user" method="post">
                    <div class="form-group">
                        <input class="home-input form-control" type="text" name="email" placeholder="your@email.world">
                        <input class="form-control" type="password" name="password" placeholder="password">
                        <input type="hidden" name="action" value="login">
                        <input class="btn btn-default" type="submit" value="Log In">

                        <a class="sign-up btn btn-default" href="<?= $requestUrl?>/user?action=signup">Sing Up</a>
                    </div>
                </form>

                <ul class="main-menu">
                    <li><a href="<?= $requestUrl ?>/restaurant?booking">Table reservation online</a></li>
                    <li><a href="<?= $requestUrl ?>/takeaway">Order takeaway online</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <?php endif; ?>

</header>


<main>
    <!-- Affichage du template lié à la vue -->
    <?php include $this->viewData['template'] ?>
</main>

<!-- Pied de page commun -->
<footer id="footer">
<!--    <ul class="link-list">-->
<!--        <li><img src="--><?//= $wwwUrl ?><!--/images/payment/visa.png" alt="Visa"></li>-->
<!--        <li><img src="--><?//= $wwwUrl ?><!--/images/payment/mastercard.png" alt="MasterCard"></li>-->
<!--        <li><img src="--><?//= $wwwUrl ?><!--/images/payment/paypal.png" alt="PayPal"></li>-->
<!--    </ul>-->
<!--    <small>Réalisé avec <i class="fa fa-heart"></i>&nbsp; par les élèves de la 3W Academy</small>-->
</footer>

<!--- Bootstrap JS --->
<script src="<?= $wwwUrl ?>/js/bootstrap.js"></script>

<!-- Code principal JavaScript de l'application -->
<script src="<?= $wwwUrl ?>/js/main.js"></script>


</body>
</html>