/*font-family: 'Chewy', cursive;*/

/************************** GLOBAL ***********************************/
body{
    background-image: url(../images/BG.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #ffffff;
}
#gmap_canvas{
    width: 100%;
    height:400px;
}
/************************** HEADER ***********************************/
    .logo, .logo img{
        height: 50px;
        margin:-7px 0;
    }
    .message{
        margin: 0 0 -10px 0;
        color: #ffffff;
    }
    .sign-up{
        color: #000000 !important;
    }
    .main-menu{
        list-style: none;
        margin: 9px 0;
        text-align: center;
        padding: 0;
        /*width:50%;*/
    }
    .main-menu li{
        display: inline-block;
        font-family: 'Chewy', cursive;
        font-size: 24px;
        padding: 0 30px;
    }


/************************** MAIN *************************************/
    /*homepage*/
    .phone{
        font-size: 30px;
        font-family: 'Chewy', cursive;
    }
    /*restaurant*/
    .reservation label{
        color: #ffffff;
        width: 30%;
        font-size: 24px;
        font-family: 'Chewy', cursive;
    }
    .reservation h3, .reservation p{
        color: #ffffff;
        font-family: 'Chewy', cursive;
        font-size: 24px;
    }
    /*takeaway*/
    .krepsas h3{
        color: #ffffff;
        font-family: 'Chewy', cursive;
        font-size: 24px;
        text-align: center;
    }
    .meals{
        color: #ffffff;
        background-color: rgba(188,136,88,0.7);
        text-align: center;
        height: 650px;
        margin-top: 15px ;
    }
    .meals img{
        margin-top: 15px;
    }
    .meals input , .meals input:focus{
        color: #000000;
        width: 17%;
        text-align: right;
        padding: 1px 0 5px 0;
        background-color: #d9b487;
        border-radius: 3px;
        border: none;
        height: 34px;
    }
    .addToCart{
        width: 70%;
    }
    /*cart*/
    .cartTable, .cartTable th{
        text-align: center;
    }
    .cartTable td{
        width: 14%;
        color: #ffffff;
        border: solid 1px rgba(188,136,88,0.9);
        background-color: rgba(188,136,88,0.7);
    }
    .cartTable input{
        color: #000000;
        width: 50px;
        text-align: right;
    }
    /*User*/
    .signUp{
        color: #ffffff;
        font-size: 24px;
        margin: 0 0 25% 0 ;
    }
    .signUp label{
        font-family: 'Chewy', cursive;
        width: 30% ;
    }
    .signUp h3{
        font-family: 'Chewy', cursive;
    }
    .signUp input{
        color: #000000;
        width: 50%;

    }

/************************** FOOTER ***********************************/